<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
   <meta charset="utf-8" />
	{% if page.date %}
	<title>{{ page.title }} | ricardo.cc</title>
	{% else %}
	<title>{{ page.title }}</title>
	{% endif %}
   <meta name="author" content="Ricardo Tomasi" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="480" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<meta name="description" content="Stories about code, design, coffee and other good stuff."/> 
  <meta name="keywords" content="html5, css3, coffeescript, javascript, node.js, web development, code, front-end, client-side, interface, design, interaction design, user experience, porto alegre"/>
	
   <link href="http://ricardo.cc/atom.xml" rel="alternate" title="Ricardo Tomasi" type="application/atom+xml" />

	<link rel="profile" href="http://microformats.org/profile/hcard" />
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="/styles/syntax.css" />
	<link rel="stylesheet" href="/styles/base.css" />
  
	<script src="//www.google-analytics.com/ga.js" async></script>
	<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21731259-1'])
	  _gaq.push(['_setDomainName', '.ricardo.cc'])
	  //_gaq.push(['_setAllowHash', false]) only needed for deep sub-domains
	  _gaq.push(['_trackPageview'])
	  _gaq.push(['_trackPageLoadTime'])
	</script>
	
</head>
{% if page.date %}
<body class="page">
{% else %}
<body>
{% endif %}
<div id="wrap">
	
	<header id="header">
		{% if page.date %}
		<h1><a href="/">Ricardo Tomasi</a></h1>
		{% else %}
		<h1>Ricardo Tomasi</h1>
		{% endif %}
	</header>
	
	<section id="content">
		{{ content }}
	</section>
	
	<footer id="footer">
		{% unless page.date %}
		<banner id="adsense">
		    <script type="text/javascript">
			google_ad_client = "ca-pub-7929057657473864";
			google_ad_slot = "5954298656";
			google_ad_width = 728;
			google_ad_height = 90;
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		</banner>
		{% endunless %}
		<section class="vcard">
			<div class="col">
				<span class="fn n">
					<span class="given-name">Ricardo</span> 
					<span class="family-name">Tomasi</span>
				</span>
				<a class="email" href="mailto:ricardobeat@gmail.com">ricardobeat@gmail.com</a>
			</div>
			<ul class="col links">
				<li><a class="url vhidden" href="http://ricardo.cc/">http://ricardo.cc</a></li>
				<li><a class="url" rel="me" href="http://github.com/ricardobeat">github</a></li>
				<li><a class="url" rel="me" href="http://twitter.com/ricardobeat">twitter</a></li>
				<li><a class="url" rel="me" href="http://br.linkedin.com/in/ricardotomasi">linkedin</a></li>
			</ul>
			<span class="geo vhidden">
				<abbr class="latitude" title="-30.033056">S 30° 03.3056</abbr>
				<abbr class="longitude" title="-51.23">W 51° 23</abbr>
			</span>
		</section>
	</footer>
	
</div>
<script>(function(){
	function trackOutbound(){
		window._gaq && _gaq.push ['_trackEvent', 'Outbound Link', this.href]
	}
	var links = document.getElementsByTagName('a')
	for (var i = 0, link; link = links[i]; i++){
		if (~link.href.indexOf(document.domain)) continue;
		if (link.addEventListener) link.addEventListener('mousedown', trackOutbound, null);
		else if (link.attachEvent) link.attachEvent('mousedown', trackOutbound);
	}
})()
</script>
</body>
</html>
