<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ricardo Tomasi" />
	<!--
	todo: INSERT FEED
	-->
   <link href="http://feeds.feedburner.com/ricardocc" rel="alternate" title="Ricardo Tomasi" type="application/atom+xml" />

   <link rel="stylesheet" href="/styles/syntax.css" />
   <link rel="stylesheet/less" href="/styles/base.less" />
	<script src="/js/less.js"></script>

</head>
<body>
	
	<header>
		<h1>Ricardo Tomasi</h1>
	</header>
	
	<section id="content">
		{{ content }}
	</section>
	
	<footer>
		<p>Ricardo Tomasi 2010 - http://ricardo.cc</p>
	</footer>

</body>
</html>
