<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ricardo Tomasi" />

	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="480" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!--
	todo: INSERT FEED
   <link href="http://feeds.feedburner.com/ricardocc" rel="alternate" title="Ricardo Tomasi" type="application/atom+xml" />
	-->

	<link rel="profile" href="http://microformats.org/profile/hcard">
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
   <link rel="stylesheet" href="/styles/syntax.css" />
   <link rel="stylesheet/less" href="/styles/base.less" />
	<script src="/scripts/less-1.0.41.min.js"></script>
	<script>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-21731259-1'])
	  _gaq.push(['_trackPageview'])
	  _gaq.push(['_trackPageLoadTime'])
	</script>
	<script src="//www.google-analytics.com/ga.js"></script>
</head>
{% if page.date %}
<body class="page">
{% else %}
<body>
{% endif %}
<div id="wrap">
	
	<header id="header">
		{% if page.date %}
		<h1><a href="/">Ricardo Tomasi</a></h1>
		{% else %}
		<h1>Ricardo Tomasi</h1>
		{% endif %}
	</header>
	
	<section id="content">
		{{ content }}
	</section>
	
	<footer id="footer">
		<section class="projects">
			<h2>Projects</h2>
			<ul>
				<li><a href="http://ricardo.cc/rgbclock">RGB Clock</a></li>
			</ul>
		</section>
		<section class="vcard">
			<div class="col">
				<span class="fn n">
					<span class="given-name">Ricardo</span> 
					<span class="family-name">Tomasi</span>
				</span>
				<a class="email" href="mailto:ricardobeat@gmail.com">ricardobeat@gmail.com</a>
			</div>
			<ul class="col links">
				<li><a class="url vhidden" href="http://ricardo.cc/">http://ricardo.cc</a></li>
				<li><a class="url" rel="me" href="http://github.com/ricardobeat">github</a></li>
				<li><a class="url" rel="me" href="http:/twitter.com/ricardobeat">twitter</a></li>
				<li><a class="url" rel="me" href="http://br.linkedin.com/in/ricardotomasi">linkedin</a></li>
				<li class="org vcard"><a class="url fn org" rel="group" href="http://grifotecnologia.com.br">grifo</a></li>
			</ul>
			<span class="geo vhidden">
				<abbr class="latitude" title="-30.033056">S 30° 03.3056</abbr>
				<abbr class="longitude" title="-51.23">W 51° 23</abbr>
			</span>
		</section>
	</footer>

</div>
</body>
</html>
