---
layout: default
---
<article class="post">
	<div class="date">
		<time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
	</div>
	{{ content }}
</article>

{% if site.related_posts != empty %}
<aside id="related">
	<h2>Related Posts</h2>
	<ul class="posts">
	{% for post in site.related_posts limit:3 %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
	<banner id="adsense">
	    <script>
        google_ad_client = "ca-pub-7929057657473864";
        google_ad_slot = "4714209316";
        google_ad_width = google_ad_height = 125;
        </script>
        <script src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	</banner>
</aside>
{% endif %}