---
layout: default
---
<article class="post">
	<div class="date">
		<time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_string }}</time>
	</div>
	{{ content }}
</article>

{% if site.related_posts != empty %}
<aside id="related">
	<h2>Related Posts</h2>
	<ul class="posts">
	{% for post in site.related_posts limit:3 %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>
</aside>

<div id="disqus_thread"></div>
<script>
    var disqus_shortname = 'ricardotomasi'; // required: replace example with your forum shortname
	 (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endif %}